.loginContainer {
  display: flex;
  justify-content: center;
}

.submitBtn {
  margin-top: 16px;
}

.invalidMsg {
  margin-top: 4px;
  color: #9f3a38;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}