.modalWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalInner {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 25%;
  margin: auto;
  width: 88%;
  z-index: 1001;
  text-align: left;
  background: #fff;
  border: none;
  border-radius: 0.3rem;
}
