.badge {
  margin: 0 0.5em 0 0;
  padding: 0.4em 0.833em;
  max-width: 100px;
  min-width: 70px;
  text-align: center;
  border-radius: 25px;
}
.active {
  background-color: #21ba45;
  border-color: #21ba45;
  color: #fff;

}
.inActive {
  background-color: #db2828;
  border-color: #db2828;
  color: #fff;
}