$prefix: "vct-grid";
$grid-columns: 12;

// Extra small screen / phone
$xs: 480px;
// Small screen / tablet
$sm: 768px;
// Medium screen / desktop
$md: 992px;
// Large screen / wide desktop
$lg: 1200px;
// Extra Large screen / full hd
$xl: 1600px;
