.inputWrapper {
  position: relative;
  font-weight: 400;
  width: 100%;
  font-style: normal;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.87);
  > input {
    margin: 0;
    width: 100%;
    font-size: 1.2em;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    text-align: left;
    line-height: 1.22em;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 0.68em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus {
      border-color: #85b7d9;
      background: #fff;
      color: rgba(0, 0, 0, 0.8);
      box-shadow: none;
    }
  }
}

.inputError {
  > input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    box-shadow: none;
  }
}
.inValid {
  input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
  }
}
