@import "./default.module.scss";
@import "./mixin.module.scss";

.#{$prefix}-row {
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  @include border-box();
}

.#{$prefix}-row,
.#{$prefix}-row:before,
.#{$prefix}-row:after {
  display: flex;
  width:100%;
}

.#{$prefix}-row-start {
  justify-content: flex-start;
}

.#{$prefix}-row-center {
  justify-content: center;
}

.#{$prefix}-row-end {
  justify-content: flex-end;
}

.#{$prefix}-row-space-between {
  justify-content: space-between;
}

.#{$prefix}-row-space-around {
  justify-content: space-around;
}

.#{$prefix}-row-top {
  align-items: flex-start;
}

.#{$prefix}-row-middle {
  align-items: center;
}

.#{$prefix}-row-bottom {
  align-items: flex-end;
}

.#{$prefix}-row-stretch {
  align-items: stretch;
}

@include create-grid-columns();
@include create-grid();
@include create-grid("-xs");

@media (min-width: $sm) {
  @include create-grid("-sm");
}

@media (min-width: $md) {
  @include create-grid("-md");
}

@media (min-width: $lg) {
  @include create-grid("-lg");
}

@media (min-width: $xl) {
  @include create-grid("-xl");
}