// Primary color
$primary-black: #292929;
$primary-white: #ffffff;

// Secondary color
$secondary-link: #295baa;
$secondary-link-lighter: #3172d8;

// Ink color
$ink: #292929;
$ink-light: #757575;
$ink-lighter: #bfbfbf;

// Background color
$bg-lighter: #d9d9d9;
$bg-lightest: #f7f7f7;
$bg-footer: #f7f5f2;
$bg-dark: #1e1e1e;

// Accent color
$color-error: #ed2c2c;
$color-success: #3dcc6d;
$color-warning: #faa532;

//Text color
$text-light: #757575;
$text-dark: #dddddd;

//Font Size
$fs-0: 14px;
$fs-1: 40px;
$fs-2: 32px;
$fs-3: 24px;
$fs-4: 20px;

//Font Weight
$fw-normal: 400;
$fw-light: 300;
$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;

//Line height
$lh-0: normal;
$lh-1: 54px;
$lh-2: 44px;
$lh-3: 32px;
$lh-4: 28px;
$lh-5: 22px;
$lh-6: 20px;
$lh-7: 18px;
$lh-8: 16px;
$lh-9: 24px;
$lh-10: 34px;
$lh-11: 26px;
$lh-12: 23px;
$lh-13: 30px;

//Letter spacing
$ls-0: 0px;
$ls-1: 0.01em;
$ls-2: 0.005em;
$ls-3: 0.16px;
$ls-4: 0.08px;

// border
$border-grey: #d9d9d9;