.mytable th {
  cursor: pointer;
  background: #36304a;
  text-align: inherit;
  color: #f5f5f5;
  padding: 0.92em 0.78em;
  vertical-align: inherit;
  font-weight: 700;
  text-transform: none;
  border: 1px solid rgba(34, 36, 38, 0.1);
}

.mytable tr td {
  border: 1px solid rgba(34, 36, 38, 0.1);
  text-align: center;
}

.mytable td,
.mytable th {
  padding: 8px;
}

.mytable {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  border-spacing: 0;
  max-height: 580px;
  thead th {
    position: sticky;
    top: 0;
  }
  tr {
    cursor: pointer;
    &:hover {
      background: rgba(39, 37, 37, 0.08) !important;
    }
  }
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
}

.ltr {
  direction: ltr;
}

.ltr th {
  text-align: center;
}

.ltr .down-caret {
  margin-right: 5px;
}

.ltr .up-caret {
  margin-right: 5px;
}

.down-caret {
  font-size: 0.7em;
}

.up-caret {
  font-size: 0.7em;
}

.chevron {
  font-size: 1.7em;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}

.footer-item {
  height: 50px;
  display: flex;
  align-items: center;
}

.number-of-page-text {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.number-of-page-text span {
  padding: 5px;
}
.number-of-page-text input {
  max-width: 60px;
}
.number-of-list select {
  min-width: 14em;
  min-height: 2.5em;
  background: #fff;
  display: inline-block;
  padding: .5em 1.8em .5em 1em;
  color: rgba(0,0,0,.87);
}
