.modalHeader {
  font-size: 1.4rem;
  line-height: 1.3em;
  font-weight: 700;
  padding-right: 2.25rem;
  display: block;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  padding: 1.25rem 1.5rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.modalContent {
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  padding: 1.5rem;
  background: #fff;
  img {
    width: 300px;
    height: auto;
  }
  b,
  span {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
}

.descriptionWrap {
  display: flex;
  flex-direction: column;
  b {
    min-width: 200px;
  }
}

.modalFooter {
  background: #f9fafb;
  padding: 1rem 1rem;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  text-align: right;
  button {
    background-color: #1b1c1d;
    color: #fff;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgb(34 36 38 / 15%) inset;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3rem;
    margin: 0 0.25em 0 0;
    padding: 0.78em 1.5em 0.78em;
  }
}
